.museum-history-events {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 80px 290px;
    color: #000000;
    font-size: 19px;
    line-height: 30px;
    font-weight: 600;
}

.museum-history-events-title {
    font-size: 32px;
    color: #f3d039;
    font-weight: 700;
}

.museum-history-events-elements {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media  (max-width: 1160px) {
    .museum-history-events {
        padding: 80px 140px;
    }
}

@media  (max-width: 765px) {
    .museum-history-events {
        padding: 80px 60px;
    }
}
